<%-include('partials/header.ejs') %>

   
</head>
<body>
    <main>
        <h1>
            Cool Images
        </h1>
        <hr>
        <form action="/search">
            <input id="searchText" type="text"  placeholder='Type keyword' name="keyword"><br><br>
            <button id="searchButton" > Search </button>
        </form>
        <br>
    </main>
    
<%-include('partials/footer.ejs') %>
